.app-footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}
