.todos__title {
  text-align: center;
  font-size: 88px;
  color: #ead7d7;
}

.todos-card__container {
  width: 550px;
  border: 1px solid #ead7d7;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todos-card__container hr {
  border-color: #ededed;
  opacity: 0.4;
}
